subconverter.exe
.vscode
build
subconverter

# cloned deps
curl
libcron
quickjspp
rapidjson
yaml-cpp

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps