subconverter.exe
.vscode
cmake-build-debug
.idea
base/cache

# Build files
/CmakeFiles
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/tmp
/subconverter

# Dependencies for development
/curl
/libcron
/quickjspp
/toml11
/yaml-cpp
/rapidjson
